<launch>

	<!-- default arguments -->
	<arg name="bag_file_prefix" default="exo" />
    <arg name="pres_ctrl_params" default="pres_ctrl_params_default.yaml" />

	<!-- load control parameters -->
    <rosparam command="load" file="$(find mcu_config)/config/$(arg pres_ctrl_params)" />

	<!-- run UART communication -->
	<node 
        name="uart_comm"
        pkg="mcu_uart" 
        type="uart_comm" 
        output="screen"
    /> 

	<!-- run MCU value configuration -->
	<node
        name="config_vals"
        pkg="mcu_uart" 
        type="config_vals.py" 
        output="screen"
    />

    <!-- run exo control -->
    <node
        name="fsr_gait_est_control"
        pkg="exo_control"
        type="fsr_gait_est_control.py"
        output="screen" 
	/>

    <!-- plot data -->
	<node 
		name="pres_plot"
		pkg="rqt_plot"
		type="rqt_plot"
		args="/pressure_tank/data[0] /pressure_exo/data[0] /pressure_exo/data[1] /pressure_exo/data[2] /pressure_exo/data[3] /fsr/data[0] /fsr/data[1]" 
	/>

	<!-- record bag file -->
	<node
        name="rosbag_record"
        pkg="rosbag"
        type="record" 
		args="record -o /home/lucas/catkin_ws/bagfiles/exo/$(arg bag_file_prefix) /pressure_tank /pressure_exo /fsr" 
    />
    
</launch>
